<div class="item note edit" ng-controller="noteController"> 
    <h2><input type="text" class="title" ng-model="item.title" ></h2>
    <div class="controll clearfix">
        <button class="delete-item" title="Удалить" ng-click="deleteNote(x, y)"></button>
        <button class="analogy" 
                title="Покаать аналогии" 
                ng-click="linker.selectingRelation('analogy', item)"
                ng-disabled="linker.isDisabled('analogy', item.id)">
                    {{item.analogy.length}}
        </button> 
        <button class="sub-item" 
                title="Показать подэлементы" 
                ng-click="linker.selectingRelation('sub', item)"
                ng-disabled="linker.isDisabled('sub', item.id)">
                    {{item.sub.length}}
        </button>
        <button class="sup-item" 
                title="Показать надэлементы" 
                ng-click="linker.selectingRelation('sup', item)"
                ng-disabled="linker.isDisabled('sup', item.id)">
                    {{item.sup.length}}
        </button>                   
    </div>
    <textarea class="description" ng-model="item.text"></textarea>
    <button class="save-note" ng-click="saveNote(x, y)">Сохранить</button>
</div>