<div class="item note edit" ng-controller="noteController"> 
    <h2><input type="text" class="title" ng-model="item.title" ></h2>
    <div class="controll clearfix">
        <button class="delete-item" title="Удалить" ng-click="deleteNote(x, y)"></button>
        <button class="analogy" 
                title="Покаать аналогии" 
                ng-click="triggerRelative('analogy')">
                    {{item.analogyItems.length}}
        </button> 
        <button class="sub-item" 
                title="Показать подэлементы" 
                ng-click="triggerRelative('sub')">
                    {{item.subItems.length}}
        </button>
        <button class="sup-item" 
                title="Показать надэлементы" 
                ng-click="triggerRelative('sup')">
                    {{item.supItems.length}}
        </button>                   
    </div>
    <textarea class="description" ng-model="item.text"></textarea>
    <button class="save-note" ng-click="saveNote(x, y)">Сохранить</button>
</div>