<div ng-switch="item.state">

    <div class="item note" ng-switch-when="save">
                    
        <h2>{{item.title}}</h2>
        
        <div class="controll clearfix">
            <button class="delete-item" title="Удалить" ng-click="deleteNote(item)"></button>
            <button class="edit-item" title="Редактировать" ng-click="item.edit()"></button>
            <button class="analogy" title="Покаать аналогии">{{item.analogy.length}}</button> 
            <button class="sub-item" title="Показать подэлементы">{{item.sub.length}}</button>
            <button class="sup-item" title="Показать надэлементы">{{item.sup.length}}</button>                    
        </div>

        <div class="description">
            {{item.text}}
        </div>

        <div ng-show="linker.active" ng-switch="linker.currentRelation(item)" >
            <div class="cover analogy" ng-switch-when="analogy">
                <p>
                    Этот элемент является аналогией <br> 
                    (<a ng-click="linker.unselectItem(item, 'analogy')">Нажвите сюда, чтобы удалить связь</a>)
                </p>
            </div>
            
            <div class="cover sub" ng-switch-when="sub">
                <p>
                    Этот элемент является подэлементом <br> 
                    (<a ng-click="linker.unselectItem(item, 'sub')">Нажвите сюда, чтобы удалить связь</a>)
                </p>
            </div>

            <div class="cover sup" ng-switch-when="sup">
                <p>
                    Этот элемент является надэлементом <br> 
                    (<a ng-click="linker.unselectItem(item, 'sup')">Нажвите сюда, чтобы удалить связь</a>)
                </p>
            </div>
            
            <div class="cover" ng-switch-default ng-switch="linker.relation" ng-click="linker.selectItem(item)">
                <p ng-switch-when="analogy">Нажмите, что бы сделать этот элемент аналогичным</p>
                <p ng-switch-when="sub">Нажмите, что бы сделать этот элемент подэлементом</p>
                <p ng-switch-when="sup">Нажмите, что бы сделать этот элемент надэлементом</p>
            </div>

        </div>
    </div>


    <div class="item note edit" ng-switch-when="edit"> 
        <h2><input type="text" class="title" ng-model="item.title" ></h2>
        <div class="controll clearfix">
            <button class="delete-item" title="Удалить" ng-click="deleteNote(item)"></button>
            <button class="analogy" 
                    title="Покаать аналогии" 
                    ng-click="linker.selectingRelation('analogy', item)"
                    ng-disabled="linker.isDisabled('analogy', item.id)">
                        {{item.analogy.length}}
            </button> 
            <button class="sub-item" 
                    title="Показать подэлементы" 
                    ng-click="linker.selectingRelation('sub', item)"
                    ng-disabled="linker.isDisabled('sub', item.id)">
                        {{item.sub.length}}
            </button>
            <button class="sup-item" 
                    title="Показать надэлементы" 
                    ng-click="linker.selectingRelation('sup', item)"
                    ng-disabled="linker.isDisabled('sup', item.id)">
                        {{item.sup.length}}
            </button>                   
        </div>
        <textarea class="description" ng-model="item.text"></textarea>
        <button class="save-note" ng-click="item.save()">Сохранить</button>
    </div>

</div>