<!DOCTYPE HTML>
<html ng-app="FractalApp">
<head>
    <title>Fractal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/workplace.css">
    <link rel="stylesheet" type="text/css" href="css/article.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body ng-controller="dataController">
    <div class="header">
        <h1>Fractal</h1>
        <button class="customization-button" ng-click="show_setting = !show_setting"></button>
        <div ng-include="'partials/setting.html'" ng-show="show_setting"></div>
    </div>

    <div class="workplace clearfix" ng-controller="gridController" complite-width="{{setting.width}}">
        <div class="column" ng-repeat="(x, column) in items">
            <div ng-repeat="(y, item) in column">
                <div ng-include="'partials/item/' + item.type + '.html'" ng-controller="itemController"></div>
            </div>
        </div>
    </div>

    <div ui-view="full-article"></div>
  
    <div class="footer">
        Made by <a href="">&copy;Suhoy</a>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/itemfactory.js"></script>
    <script src="js/gridmaster.js"></script>
    <script src="js/linker.js"></script>
    <script src="js/dialogs.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
